{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:import/errors",
    "plugin:jest/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "worker": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,

    "generator-star-spacing": "off"
  }
}
